
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
  }
  
  body{
    background: #05161a;
    color: #ededed;
  }
  
  .container{
    padding: 30px 10%;
  }
  
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    padding: 10px 40px;
    background: transparent;
    top: 0;
    left: 0;
    z-index: 100;
  }
  
  .logo{
    position: relative;
    color: #ededed;
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    font-size: 25px;
  }
  
  span{
    color: #04f0fc;
  }
  
  nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
  }
  
  nav ul li a{
    color: #ededed;
    text-decoration: none;
    font-size: 18px;
    position: relative;
  }
  
  nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #04f0fc;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: .5s;
  }
  
  nav ul li a:hover::after{
    width: 100%;
  }
  
  .header-text{
    margin-top: 15%;
    margin-bottom: 25%;
    font-size: 30px;
  }
  
  .header-text h1{
    position: relative;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
  }
  
  .header-text h1 span{
    color: #04f0fc;
  }
  
  .header-text h3{
    position: relative;
    font-size: 31px;
    font-weight: 700;
    color: #ededed;
  }
  
  .header-text h3 span{
    color: #04f0fc;
  }
  
  .header-text p{
    position: relative;
    font-size: 18px;
    margin: 20px 0 40px;
  }
  
  @keyframes showRight {
    100%{
      width: 0;
    }
  }
  
  /*about*/
  #about{
    padding: 80px 0;
    color: #ededed;
    width: 100%;
    background: #00242c;
  }
  
  .row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .about-col-1{
    flex-basis: 35%;
    height: 100%;
  }
  
  .about-col-1 img{
    width: 95%;
    height: auto;
    border-radius: 15px;
  }
  
  .about-col-2{
    flex-basis: 60%;
  }
  
  .sub-title{
    font-size: 50px;
    font-weight: 600;
    color: #ededed;
    padding-bottom: 10px;
  }
  
  .tab-titles{
    display: flex;
    margin: 20px 0 40px;
  }
  
  .tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
  }
  
  .tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #04f0fc;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: .5s;
  }
  .tab-links.active-link::after{
    width: 50%;
  }
  .tab-contents ul li{
    list-style: none;
    margin: 10px 0;
  }
  .tab-contents ul li span{
    color: #018389;
    font-size: 14px;
  }
  .tab-contents{
    display: none;
  }
  .tab-contents.active-tab{
    display: block;
  }
  
  /*------services-------*/
  #services{
    padding: 30px 0;
    padding-bottom: 100px;
  }
  
  .services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
  }
  
  .services-list div{
    background: #013c4a;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background .5s, transform .5s;
  }
  
  .services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
  }
  
  .services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
  }
  .services-list div p{
    font-size: 15px;
  }
  
  .services-list div a{
    text-decoration: none;
    color: #ededed;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
  }
  
  .services-list div:hover{
    background: #016469;
    transform: translateY(-10px);
  }
  
  /*skill section again start*/
  #skills1{
    min-height: auto;
    background: #00242c;
    padding: 80px 10%;
  }
  
  .skills-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
  }
  
  .skills-row .skills-column{
    flex: 1 1 40px;
  }
  
  .skills-column .title{
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-size: 1.5rem;
  }
  
  .skills-box .skills-content{
    position: relative;
    border: .1rem solid #04f0fc;
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    z-index: 1;
    overflow: hidden;
  }
  
  .skills-box .skills-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #05161a;
    z-index: -1;
    transition: .5s;
  }
  
  .skills-box .skills-content:hover::before{
    width: 100%;
  }
  
  .skills-content .progress{
    padding: .6rem 0;
  }
  
  .skills-content .progress h3{
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
  }
  
  .skills-content .progress h3 span{
    color: #ededed;
  }
  
  .skills-content .progress .bar{
    height: 1.2rem;
    border-radius: .6rem;
    border: .1rem solid #04f0fc;
    padding: .3rem;
    margin: .8rem 0;
  }
  
  .skills-content .progress .bar span{
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: #04f0fc;
  }
  
  .skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span{
    width: 90%;
  }
  
  .skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span{
    width: 80%;
  }
  
  .skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span{
    width: 70%;
  }
  
  .skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span{
    width: 70%;
  }
  .skills-column:nth-child(1) .skills-content .progress:nth-child(5) .bar span{
    width: 60%;
  }
  
  .skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span{
    width: 75%;
  }
  
  .skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span{
    width: 70%;
  }
  
  .skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span{
    width: 95%;
  }
  
  .skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span{
    width: 80%;
  }
  /*skill section end*/
  
  /*portfolio css*/
  #portfolio{
    padding: 50px 10%;
    margin-top: 1px;
  }
  
  .content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 40px;
  }
  
  .work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
  }
  
  .work img{
    height: 200px;
    width: 300px;
    border-radius: 10px;
    display: block;
    transition: transform .5s;
    object-fit: cover;
  }
  
  .layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6) , #04f0fc);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height .5s;
  }
  
  .layer h3{
    font-weight: 500;
    margin-bottom: 20px;
  }
  
  .layer p{
    font-size: 12px;
  }
  
  /*.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
  }*/
  
  .work:hover img{
    transform: scale(1.1);
  
  }
  
  .work:hover .layer{
    height: 100%;
  }
  
  .btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #04f0fc;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #ededed;
    transition: background .5s;
  }
  
  .btn:hover{
    background: #04f0fc;
    color: #00242c;
  }
  
  /*contatc*/
  #contact{
    padding: 80px 10%;
    background: #00242c;
  }
  
  .contact-left{
    flex-basis: 35%;
  }
  
  .contact-right{
    flex-basis: 60%;
  }
  
  .contact-left p{
    margin-top: 30px;
  }
  
  .contact-left p a{
    color: #ededed;
  }
  
  .contact-left p i{
    color: #04f0fc;
    margin-right: 15px;
    font-size: 25px;
  }
  
  .social-icons{
    margin-top: 30px;
  }
  
  .social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ededed;
    display: inline-block;
    transition: transform .5s;
  }
  
  .social-icons a:hover{
    color: #04f0fc;
    transform: translateY(-5px);
  }
  
  .btn.btn2{
    display: inline-block;
    background: #0298a0;
  }
  
  .contact-right form{
    width: 100%;
  }
  
  form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #05161a;
    padding: 15px;
    margin: 15px 0;
    color: #ededed;
    font-size: 18px;
    border-radius: 6px;
  }
  
  form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    font-weight: 300;
    margin-top: 20px;
  }
  
  .copyright i{
    color: #ff004f;
  }
  
  nav .fas{
    display: none;
  }
  
  /*css for small screen*/
  @media only screen and (max-width: 600px){
    #header{
      background-image: url() ;
    }
    .header-text{
      margin-top: 100%;
      font-size: 16px;
    }
    .header-text h1{
      font-size: 38px;
    }
    .header-text h2{
      font-size: 33px;
    }
    .header-text h3{
      font-size: 25px;
    }
    .header-text p{
      font-size: 16px;
    }
    nav .fas{
      display: block;
      font-size: 25px;
    }
    nav ul{
      background: #01777d;
      position: fixed;
      top: 0;
      right: -200px;
      width: 200px;
      height: 100vh;
      padding-top: 50px;
      z-index: 2;
      transition: right .5s;
    }
    nav ul li{
      display: block;
      margin: 25px;
    }
    nav ul .fas fa-times{
      position: fixed;
      right: -200px;
      cursor: pointer;
      display: none;
    }
    
    .sub-title{
      font-size: 40px;
    }
    .about-col-1, .about-col-2{
      flex-basis: 100%;
    }
    .about-col-1{
      margin-bottom: 30px;
    }
    .about-col-2{
      font-size: 14px;
    }
    .tab-links{
      font-size: 16px;
      margin-right: 20px;
    }
    .contact-left, .contact-right{
      flex-basis: 100%;
    }
    .copyright{
      font-size: 14px;
    }
  }
  
